[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".local/share/deploy-dotfiles"]
	path = .local/share/deploy-dotfiles
	url = http://winlogon.ddns.net/winlogon/deploy-dotfiles-rs
